
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="(isHandset$ | async) === false">
            <br>
            <h2 class="welcomeText">Welcome</h2>
            <p class="name" style="color: cornflowerblue;"><b>a@a.com</b></p>
            <hr>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/appointments" routerLinkActive="active">Appointments<mat-icon  aria-label="Example schedule icon">schedule</mat-icon></a>
      <a mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/future" routerLinkActive="active">Your future queues<mat-icon  aria-label="Example event icon">event</mat-icon></a>
      <a mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/diagnosis">Medical diagnosis<mat-icon  aria-label="Example scatter_plot icon">scatter_plot</mat-icon></a>
      <a mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/store-page">Store of medicines  <mat-icon  aria-label="Example store icon">store</mat-icon></a>
      <a mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/cart-page">Your Cart <mat-icon  aria-label="Example shopping_cart icon">shopping_cart</mat-icon></a>
      <a mat-list-item >Recognition doctor <mat-icon  aria-label="Example face icon">face</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>s3-file-uploader-app</span> -->
      <mat-nav-list>
       <a class ="title" mat-list-item href="http://healthproject-20200727224035-hostingbucket-prod.s3-website-us-east-1.amazonaws.com/welcome"><mat-icon  aria-label="Example face icon">home</mat-icon>{{title}} </a>
      </mat-nav-list>
       <span class = "spacer"> </span>
       <a class ="whitelink" >Logout</a>
      
      </mat-toolbar>
    <!-- Add Content Here -->
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
