.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background:#673ab7 ;
  
}
.title{
  display: inline-block;
  color: white;
  font-size: 24px;
 
}
.whitelink{
 margin-left: 70%; 
}
.name{
  margin-left:15px;
}
.welcomeText{
  text-align:center;
}

